

html, body {
    margin: 0;
    padding: 0;
}

nav, footer {
    opacity: 0.9;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    height: 2.5rem;
}